<template name="lista">


      <ul class="collection">
        {{#each tarefas}}
        <li class="collection-item">
          <div class="row sem-margin-bottom">
            <div class="col s8 m10">
              <span class="{{isCheck}}">{{nome}}</span>
              </div>
              <div class="col s4 m2">

                <a class="btn-floating btn-small waves-effect waves-light blue espaco-btn-custom right removeTarefa" >
                  <i class="mdi-action-delete"></i>
                </a>
                <a class="btn-floating btn-small waves-effect waves-light blue espaco-btn-custom right editaTarefa">
                  <i class="mdi-editor-mode-edit"></i>
                </a>

               <input class="check" type="checkbox" id="{{_id}}" checked="{{status}}">
               <label class="right" for="{{_id}}"></label>
             </div>
           </div>

        </li>
        {{/each}}

      </ul>

  <ul>



  </ul>
</template>
